:root{
    --gris: #757575;
    --marron: #ff6600;
    font-family: Arial;
    --arial: Arial;
    --azul: #181190;
    --centrar: 0 auto;
}

html{
    font-size : 63%;
}

body{
    font-size: 16px;
}

h1{
    text-align: center;
    background: darkblue;
    color:white;
    font-size: 3.8rem;
}

.titulo {
    text-align: center;
    background: var(--marron);
    color: white;
    font-family: var(--arial);
    margin:var(--centrar);
}

span{
    font-size: 2rem;
}

.junior{
    color: white;
}

.nav-principal{
    padding:1rem;
    background: var(--azul);
}

.nav-principal a{
    color: white;
    text-decoration: none;
}

.contenedor{
    width:120rem;
    margin: var(--centrar);
}

.navP-fondo{
    background: var(--azul);
}

